@import "system";

/*內頁*/


.inside-main-block {

    padding: 0 35px;

    @include mob() {

        padding: 0 20px;
    }

    @include sm-mob() {

        padding: 0 15px;
    }

    @include xl() {

        padding: 0 55px;

    }

    figure.st-logo {

        text-align: center;

    }


    .tip-info-box {

        position: relative;
        background: #eee;
        padding: 30px 15px;

        @include mob(){
            font-size: 0.9rem;
            

        }

        .deputy-images {
          @include mob(){
            margin-bottom: 25px;
          }
        }



        .deputy-images.activity {

            position: relative;

            img {
                box-shadow: #ffce61 10px 10px 0 0;
            }
          
           
        }

        .deputy-images.food {
            
            position: relative;

            img {
                box-shadow: #f7886d 10px 10px 0 0;
            }
          
           
        }

        .deputy-images.stay {
            
            position: relative;

            img {
                box-shadow: #3ab1db 10px 10px 0 0;
            }
          
           
        }

        .deputy-images.trip {
            
            position: relative;

            img {
                box-shadow: #5bb588 10px 10px 0 0;
            }
          
           
        }


       

        


    }


   




   


   






    .title {

        text-align: center;
        border-bottom: none;

    }

    .tag-link {

      

        text-align: center;

        @include mob() {

            margin: 0px 0 15px 0;
        }

    }


    h2 {

        i {

            color: #eb6100;
        }

    }

}

.store-info {

    @include ulstyle();

    padding-left: 50px;

    @include mob() {

        padding-left: 0px;
        padding-right: 0px;
        padding-top: 10px;
    }



  

    &.activity {

        i {
            color: #ffce61;
        }

    }

    &.stay {

        i {
            color: #3ab1db;
        }

    }

    &.food {

        i {
            color: #f7886d;
        }

    }

    &.trip {

        i {
            color: #5bb588;
        }

    }





    li {

       
        padding-left: 10px;
        margin-bottom: 10px;
        color: $b-color;

        a {
            color: #707070;
            text-decoration: underline;
            @include sm-mob(){
                display: block;
            }
        }

        span{
            width: 90px;
            display: inline-block;
            text-justify: distribute-all-lines;
            text-align-last: justify;

           
           
        }


    }



    i {

        margin-right: 5px;
        width: 16px;
      

    }

}


.edit-box {

    margin-top: 100px;
    color: #1b1b25;
    font-weight: 400;
    line-height: 200%;

    span , p {
        font-family: 'Noto Sans TC' !important;
    }
   

    @include mob() {

        padding: 0;
     
        margin-top: 25px;
    }


    img {
        max-width: 100%;
        height: auto;

       
    }
    p{
        text-align: center;
    }



}


.map-box {

    margin-top: 150px;
    position: relative;

    @include mob() {

        margin-top: 20px;
        margin-bottom: 20px;
    }




    &:before {
        content: '';
        background: #F44336;
        position: absolute;
        top: -50px;
        left: 0;
        width: 100%;
        height: 75%;

        @include mob() {

            display: none;
        }
    }

    .col-md-9 {

        margin-left: 50px;

        @include mob() {

            margin-left: 0;
        }
    }

    .howgo {
        color: #fff;
        font-weight: bold;
        display: block;
        margin: 0 auto;
        width: 70%;
        text-align: center;
        font-size: $font*1.2;
        border-top: #fff solid 1px;
        text-decoration: none;
        position: relative;
        margin-top: 70px;
        border-bottom: #fff solid 1px;

        @include mob() {

            background: #F44336;
            padding: 15px 0;
            margin-top: 15px;

        }



        i {
            position: absolute;
            bottom: -35px;
            right: 0;
            animation: move infinite 1s linear;
            animation-direction: alternate;

            @include mob() {

                bottom: 5px;
                right: 10px;

            }


            @-webkit-keyframes move {

                100% {
                    transform: translateY(-15px);
                }

            }

            @-moz-keyframes move {

                100% {
                    transform: translateY(-15px);
                }

            }

        }

    }

}



.share-box {
    margin: 25px 0;

    a {
        text-decoration: none;
        margin: 0 5px;
    }

    .join-btn-inside {

        border-radius: 5px;
        line-height: 40px;
        width: 92px;
        font-size: 1.15rem;
        font-weight: 600;
        text-align: center;
        background: $master-color;
    }

}

.else-box {


    margin-top: 100px;

    a {

        color: #333;
        text-decoration: none;





        & .else-title:before {


            content: '';
            position: absolute;
            background: $master-color;
            left: 0;
            width: 0;
            height: 1px;
            bottom: -5px;
            transition: all 0.5s ease;


        }

        &:hover .else-title:before {

            transition: all 0.5s ease;
            width: 100%;
        }

    }



    .title {

        position: relative;
        margin-bottom: 15px;


        &:before {

            content: '';
            background: #ccc;
            height: 1px;
            width: 40%;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            position: absolute;

            @include mob() {

                width: 25%;
            }

        }


        &:after {
            content: '';
            background: #ccc;
            height: 1px;
            width: 40%;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            position: absolute;

            @include mob() {

                width: 25%;
            }

        }



    }


    .else-title {

        font-size: $font;
        text-align: center;
        margin-top: 10px;
        position: relative;

        @include mob() {

            margin-bottom: 25px;
        }

        @include sm-mob() {

            font-size: $font*0.8;
        }

    }


    img {
        width: 100%;
        height: auto;
    }




}
