@import "system";

/*電影頁面*/


.inside-main-block {
    
    h1 {
    font-size: inherit;
    display: inline-block;
    font-weight: inherit;
    line-height: inherit;
    }
    
    h2 , h3 {
    font-size: $font*1.2;
    display: inline-block;
    font-weight: inherit;
    line-height: inherit;
    color: #eb6100;
    margin: 30px 0 15px 0;
        
    }
    
    
    
    i {
        color: #fff;
        margin-right: 10px;
    }

    .title {
        @include mob(){
            margin-top: 10px;
        }

    }
    
}


#sponsor {
    
    i {
        color: #eb6100;
        margin-right: 10px;
    }
    
    .st-logo-info {
        
        
        text-align: center;
        font-size: $font;
        font-weight: bold;
        letter-spacing: 1px;
        
        @include mob(){
            
            margin-bottom: 15px;
        }
    }
    
    
    ul {
        
        @include ulstyle();
        
        
    }
    
    
    .st-logo {
        
        @include mob() {
            
            text-align: center;
        }
        
    }
    
}



.nav-list {
    
	  margin: 30px 0;
    
    ul {
     
        
      @include ulstyle();
      text-align: right;

        
      @include mob() {
          
      
         text-align: left;

        }
      
        li { 
          
            display: inline-block;
            
            @include mob { 
                
                width: 33.33%;
                text-align: center;
            }
            @include sm-mob{
            
                width: 50%;
        }
      
                a {
                    margin: 0 5px;
                    background: $b-color;
                    color: #fff;
                    display: block;
                    padding: 0 5px;
                    text-decoration: none;
                    transition: all 0.5s ease;
                    
                    @include mob {
                        
                          padding: 5px 0;
                          margin-bottom: 5px;
                    }
                      
                    
                    &:hover {
                        
                        background: $master-color;
                        color: #fff;
                        transition: all 0.5s ease;
                    }
                    
                    }
            
        }
        
    }
    
}


.activity-title {
    display: inline-block;
    background: #f00;
    color: #fff;
    padding: 5px 10px;
    border-radius: 8px;

    @include mob(){
     
            display: block;
            background: #f00;
            color: #fff;
            padding: 5px 10px;
            border-radius: 8px;
          
            width: 50%;
            margin: 0 auto 15px;
      

    }
}



.slide-images-box {
    
    ul {
        
        @include ulstyle();
        
       
        
        
        img {
            
            max-width: 100%;
            width: inherit !important;
            margin: 0 auto;
            display: block;
            
        }
        
        
        .slide-title {
            text-align: center;
            font-size: $font;
            margin-top: 10px;
        }
    }
    
    
    
    
    .owl-theme .owl-dots .owl-dot span {
        
        width: 10px;
        height: 10px;
        border-color: transparent;
    }
    
    .owl-theme .owl-controls {
    
    margin-top: 0;
    position: absolute;
    width: 100%;
    bottom: 5px;
    text-align: right;
    right: 30px;
        
    }
    
    
    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
     
         background:#eb6100;
    }
  
    
}



    .problem-list {
        
    border-top: #ccc solid 1px;
    border-bottom: #ccc solid 1px;
        
        &.vis {
            
             border-top: $else-color solid 1px;
             border-bottom: $else-color solid 1px;
        }
        
     
   
    margin-bottom: 15px;
    padding: 10px 0 6px 0;
        
        
        
        input[type=checkbox].checkbix+label>span {
            
            border-color: #333;
        }
        
        input[type=checkbox].checkbix:checked+label>span {
            
            background:$else-color;
        }
}
  
#step4 {
    
    
    p {
        
        font-size: $font*0.9;
    }
}


.form-btn {
    
    margin-top: 15px;
    background: #fff;
    border: #ccc solid 1px;
    border-radius: 50px;
    width: 100px;
    line-height: 100px;
    height: 100px;
    font-size: $font*0.9;
    text-align: center;
    display: block;
    color: #333;
    text-decoration: none;
    transition: all 0.5s ease;
    
    &:hover {
        
        text-decoration: none;
        color: $else-color;
        transition: all 0.5s ease;
        background: #51bcba;
        color: #fff;
    }

    &.w {

        &:hover {
            background: #faa527;
            transition: all 0.5s ease;
            color: #fff;

        }
    }
}



#step1 , #step2 ,#step3 ,#step4 ,#step5 ,#step6 {
    
    margin-bottom: 40px;
    
    
    p {
        
        font-size: 1rem;
        color: #666;
        letter-spacing: 1px;
        line-height: 170%;
    }
    
    @include mob {    
        
       margin-bottom: 0px;
        
    }
    
    
	
}

